aside div.radioOptions {
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin: 15px 20px 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}